body {
    background: #E5E5E5;

}

.wrapper {
    margin: 0 auto;
    /*padding: 0 99px 0 98px;*/
    width: 1480px;
    font-family: 'Roboto', sans-serif;
    background: #ffffff;
}
.main-wrapper {
    width: 1280px;
    margin: 0 auto;
}
.wrapper h1 {
    margin-bottom:38px;
    padding-top: 61px;
    line-height: 79px;
    font-size: 80px;
    font-weight: normal;
}

.blackletters {
    color: #000000;
    text-decoration: none;
}

.blueletters {
    color: #00BFFF;
    text-decoration: none;
}

header {
    margin-bottom: 50px;
}

nav {
    margin: 0 auto;
    text-align: center;
    background: #35444F;
}

nav ul {
    padding: 0;
}

nav li {
    padding: 25px 37px 22px 38px;
    display: inline-block;
    list-style: none;
}

nav a {
    line-height: 28px;
    font-size: 24px;
    color: #ffffff;
    text-decoration: none;
}
.select li:hover {
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    background: #222f3a;
}

.left {
    margin-right: 52px;
    display: inline-block;
    width: 334px;
    height: 399px;
    vertical-align: top;
}

.right {
    display: inline-block;
    width: 885px;
}

aside {
    display: inline-block;
    width: 334px;
    height: 399px;
    border: 1px solid #A9A9A9;
    background: rgba(0, 0, 0, 0.0001);
}

aside ul {
    padding: 0;
    margin: 0;
}

aside li {
    padding: 0 44px;
    list-style: none; /*удалить маркеры*/
}

aside li:hover {
    text-align: center;
    background: #DBDBDB;
}

aside a {
    padding: 28px 0;
    line-height: 80px;
    font-size: 27px;
    text-decoration: none;
    color: #485863;
}

aside a:hover {
    color: #000000;
}

.img-wrapper {
    padding: 75px 267px 73px 297px;
    display: inline-block;
    border: 1px solid #A9A9A9;
}

.content-wrapper p {
    width: 885px;
    line-height: 24px;
    font-size: 18px;
    color: #2C2C2C;
}

.content-ru {
    margin: 42px 99px 0 0;
    height: 149px;
}

.content-en {
    margin: 0 99px 50px 0;
    height: 109px;
}

.footer {
    margin: 0 0 30px 100px;
}

.footer {
    padding-bottom: 30px;
}

.footer ul {
    padding-left: 43px;
    margin: 0 0 0 1px;
    width: 1237px;
    height: 69px;
    background: rgba(99, 105, 110, 0.48);
}

.footer li {
    padding: 19px 20px 19px 0;
    display: inline-block;
    list-style: none;
}

.footer li:hover {
    text-align: center;
    background: rgba(99, 105, 110, 0);
}

.footer a {
    font-size: 28px;
    text-decoration: none;
    color: #0C1927;
}

.footer a:hover {
    padding-bottom: 9px;
    color: #008080;
    text-decoration: none;
    border-bottom: 1px solid #008080;
}

.copyright {
    padding: 0;
    float: right;
    font-size: 24px;
    color: #010101;
}


