html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time, mark, audio, video {  /*перечисление всех аозможных тегов*/
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;    /*задаем значения всем этим тегам*/
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav,  /*применялось для html 5*/
section {
	display: block;  
}
	
body {
	line-height: 1.2;  /*задаем растояние между линиями*/
}
ol {
	padding-left: 1.4em;
	list-style: decimal;  /*decimal - арабские числа*/
}
ul {
	padding-left: 1.4em;
	list-style: square; /*list-style - маркированый список, square - маркер в виде квадратика*/
}
table {
	border-collapse: collapse;  /*border-collapse - границы между ячейками в таблице, collapse - линия между ячейками отображается только одна*/
	border-spacing: 0;
}