@import "reset.css";
@import "fonts.css";

body {
    background: #e5e5e5;
}
.wrapper {
    position: absolute;
    left: calc(50% - 1197px / 2);
    top: calc(50% - 660px / 2);
    border-style: solid;
    border-color: #3a4965 ;
    border-width: 1.75rem 1.7rem 1.25rem 1.7rem;
}

.table {
    border-collapse: collapse; /* схлопывает границы элементов*/
    font-family: "Arimo-Bold";
    text-transform: uppercase;
    text-align: center;
    cursor: default;
}

.thead th {
     width: 10rem;
     height: 7.19rem;
     border-bottom: 1rem solid #3a4965;
     vertical-align: middle;
     background: #f2f2f2;
    color: #484848;
 }

.thead th:first-child {
    width: 12.56rem;
    background: #fafafa;
}

.thead th:nth-child(even) {
    background: #e3e3e3;
}

.thead_pricing-plan-first-string {
    padding-bottom: 0.44rem;
    font-size: 0.88rem;
}

.thead_pricing-plan-second-string {
    font-size: 1.3rem;
}

.thead_price-plan-option {
    font-size: 1.25rem;
    line-height: 1.5;
}

.fa {
    color: #848484;
    font-size: 1.5rem;
}

.tbody td {
    vertical-align: middle;
    background: #f2f2f2;
    color: #484848;
}
.tbody td:not(:first-child) {
    border-bottom: 0.13rem solid #d0c8d3;
    font-family: "Arimo-Regular";
}

.tbody td:first-child {
     font-size: 1.5rem;
 }

.tbody td:nth-child(even) {
    background: #e3e3e3;
}
.tbody_price-plan-option-value {
    line-height: 2;
}

.tbody_price-plan-type-price {
    font-size: 2.25rem;
}
.tbody_price-plan-type-decimal {
    font-size: 1.13rem;
    vertical-align: top;
}
.tbody_price-plan-type-period {
    font-size: 0.88rem;
    vertical-align: middle;
}

.tbody_price-plan-type {
     padding-top: 13px;
     padding-bottom: 7px;
 }
.tbody_price-plan-type-1 {
    background: #89c331;
    color: #ffffff;
}
.tbody_price-plan-type-2 {
    background: #f04a56;
    color: #ffffff;
}
.tbody_price-plan-type-3 {
    background: #20807c;
    color: #ffffff;
}

.button {
    position: relative;
    width: 9.19rem;
    height: 2.75rem;
    margin-top: 9px;
    margin-bottom: 34px;
    font-family: "Arimo-Bold";
    text-transform: uppercase;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    color: #ffffff;
    background: #414141;
}

.button::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0.46rem;
    width: 100%;
    border-radius: 6px;
    background: #343434;
}

