.main {
    margin: 0 auto;
    width: 1280px;
    height: 1626px;
    font-family: 'Montserrat', sans-serif;
    background: rgba(0, 0, 0, 0.0001);
}

.navbar {
    padding: 30px 330px;
    height: 18px;
    font-weight: bold;
    font-size: 28px;
}

.menu {
    padding: 0;
    display: flex; /*выстраивание по горизонтали*/
    letter-spacing: 2.7px;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase; /*заглавные буквы*/
    list-style-type: none; /*убрать маркеры*/
}

.menu > li { /* '>' значит, что мы обращамся к li первого уровня*/
    padding: 0 29px;
}

a {
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
    color: #16A085;
}

.img-wrap {
    height: 790px;
}

.content-wrap {
    padding-top: 47px;
    padding-bottom: 41px;
}

.content-wrap h2 {
    margin: 0 164px 0 342px;
    padding-bottom: 22px;
    line-height: 29px; /*высота строки*/
    letter-spacing: 3.3px; /*интервал между строк*/
    font-weight: bold;
    font-size: 22px;
    text-transform: uppercase;
    color: #373737;
}

.text {
    margin: 0 68px 0 68px;
    width: 1145px;
    padding: 33px 0;
    text-align: center;
    letter-spacing: 2.4px;
    font-size: 16px;
    line-height: 26px;
    color: #373737;
}

.content-wrap p {
    padding: 20px 0;
}

.actions {
    text-align: center;
    width: 100%;
    height: 54px;
    padding-top: 23px;
}

.button {
    padding: 0 46px 0 45px;
    line-height: 54px; /*высота строки*/
    background: #16A085;
    display: inline-block;
    letter-spacing: 1.8px;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    color: #fffff1;
}

.footer {
    padding-top: 53px;
    padding-bottom: 55px;
}

.footer p {
    float: right;
    width: 509px;
    letter-spacing: 2.4px;
    font-weight: bold;
    font-size: 16px;
    color: #373737;
}
