.main-wrap {
    width: 100vw;
    min-height: 100vh;
    background: url("../img/image1.png") no-repeat fixed;
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
}

.header {
    background-color: rgba(0, 0, 0, 0.41);
}

.header h1 {
    float: left;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 5.66vw;
    font-size: 1.25rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
    vertical-align: middle;
    cursor: default;
}

.header h1:hover {
    color: #3cb878;
    transform: scale(1.1);
}

.clearfix::after {
    clear: both;
    content: "";
    display: block;
}

.navbar {
    float: right;
    margin-right: 6.9vw;
}

.sprites {
    float: left;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 0;
}

.sprites li {
    display: inline-block;
    height: 20px;
    margin-right: 1.82vw;
}

.sprites li > a {
    list-style: none;
    color: #ffffff;
    font-size: 21px;
}

.sprites a:hover {
    color: #3cb878;
}

.sprites li:hover {
    transform: scale(1.3);
}

.text {
    height: 22px;
    float: left;
    padding-top: 19px;
    padding-bottom: 19px;
    color: #ffffff;
}

.greeting {
    padding-left: 0.65vw;
    vertical-align: middle;
    cursor: default;
}

.registration {
    padding-left: 0.4vw;
    text-decoration: none;
}

.registration:hover {
    color: #3cb878;
    transform: scale(1.1);
}

.text1 {
    padding-left: 2vw;
    cursor: default;
}

.authorization {
    padding-left: 0.4vw;
    text-decoration: none;
}

.authorization:hover {
    color: #3cb878;
    transform: scale(1.1);
}

.container {
    position: relative;
    width: 444px;
    height: calc(100vh - 60px);
    margin: 0 auto;
}

.content {
    position: absolute;
    background: #ffffff;
    text-align: center;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.row1 {
    height: 18px;
    margin-top: 29px;
    margin-bottom: 18px;
}

.square {
    width: 18px;
    height: 18px;
    float: left;
    background: #3cb878;
}

.signUp {
    float: left;
    margin-left: 43px;
    font-size: 1.25rem;
}

.logIn {
    float: left;
    margin-left: 216px;
    font-size: 0.88rem;
    text-decoration: none;
    color: #3cb878;
}

.row2 {
    margin-bottom: 19px;
}

.button {
    height: 48px;
    width: 160px;
    cursor: pointer;
}

.text2 {
    display: inline-block;
    margin-bottom: 14px;
    color: #848484;
}

.text2::before {
    content: " ";
    display: inline-block;
    width: 144px;
    margin-right: 10px;
    border-bottom: 2px solid #848484;
    vertical-align: middle;
    opacity: 0.3;
}

.text2::after {
    content: " ";
    display: inline-block;
    width: 144px;
    margin-left: 10px;
    border-bottom: 2px solid #848484;
    vertical-align: middle;
    opacity: 0.3;
}

.iconF {
    position: relative;
    background: #305db8;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
}

.iconF i {
    position: absolute;
    top: 17px;
    left: 21px;
    color: #ffffff;
}

.iconF span {
    position: absolute;
    top: 17px;
    right: 20px;
    padding-left: 20px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    color: #ffffff;
    font-size: 16px;
}

.iconG {
    position: relative;
    background: #df4a32;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
}

.iconG i {
    position: absolute;
    top: 17px;
    left: 17px;
    color: #ffffff;
}

.iconG span {
    position: absolute;
    top: 17px;
    right: 30px;
    padding-left: 27px;
    color: #ffffff;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 16px;
}

input[type="text"] {
    width: 306px;
    height: 46px;
    margin-bottom: 9px;
    padding-left: 18px;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    font-size: 0.88rem;
}

input[type="password"] {
    width: 306px;
    height: 46px;
    margin-bottom: 9px;
    padding-left: 18px;
    font-size: 0.88rem;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
}

input[type="text"]:focus {
    height: 48px;
    margin-bottom: 16px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
    border-radius: 4px;
    outline : none;
}

input[type="password"]:focus {
    height: 48px;
    margin-bottom: 16px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
    border-radius: 4px;
    outline : none;
}

/*делаем стандартный checkbox невидимым*/
input[type="checkbox"] {
    float: left;
    opacity: 0;
}

.checkbox-label {
    position: relative;
    float: left;
    margin-left: 40px;
    margin-top: 13px;
    padding-left: 30px;
    font-size: 0.88rem;
}

.checkbox-label a {
    color: #3cb878;
    text-decoration: none;
}

/*обертка нового checkbox*/
.checkbox-label::before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 0;
    border: 1px solid #f2f2f2;
}

/*добавляем новую галочку*/
.checkbox-label::after {
    content: "";
    position: absolute;
    left: 3px;
    top: 1px;
    height: 20px;
    width: 20px;
    background-image: url("../img/Vector.png");
    background-repeat: no-repeat;
}

/*Скрыть галочку по умолчанию*/
input[type="checkbox"] + .checkbox-label::after {
    content: none;
}

/*Показать галочку в нажатом состоянии*/
input[type="checkbox"]:checked + .checkbox-label::after {
    content: "";
}

input[type="submit"] {
    width: 324px;
    height: 46px;
    margin-top: 28px;
    margin-bottom: 32px;
    background: #3cb878;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
}