@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
}

.flex-wrap {
    min-width: 1170px;
}

.flex-wrap_header {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #313131;
}

.flex-wrap_header_logo {
    padding-left: 20px;
}

.flex-wrap_header_logo a {
    font-size: 22px;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
}

.flex-wrap_header_logo span {
    padding-left: 20px;
    vertical-align: top;
}

.flex-wrap_header_menu ul {
    width: 700px;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.flex-wrap_header_menu a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    color: #ffffff;
}

.flex-wrap_header_icon-search {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #000000;
    color: #ffffff;
}

.flex-wrap_banner {
    height: 445px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../img/image_parallax_flex.jpeg") no-repeat fixed;
    background-size: cover;
    background-position-y: bottom;
}

.flex-wrap_banner-wrap-opacity {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, .5);
}

.flex-wrap_banner-text {
    margin-bottom: 44px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: normal;
    font-size: 27px;
}

.flex-wrap_banner_button-wrap {
    display: flex;
    justify-content: center;
}

.flex-wrap_banner_button {
    width: 170px;
    height: 55px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    border: none;
}

.flex-wrap_banner_button:focus {
    outline: none;
}

.flex-wrap_banner_button-subscribe {
    margin-right: 20px;
    background: #89ca62;
}

.flex-wrap_banner_button-articles {
    background: #14b9d5;
}

.flex-wrap_posts {
    background: #f2f2f2;
    overflow: hidden;
}

.flex_heading {
    margin-top: 60px;
    margin-bottom: 52px;
    font-weight: bold;
    color: #18b4cf;
    font-size: 27px;
    text-align: center;
    text-transform: uppercase;
}

.grid_heading {
    margin-bottom: 52px;
    font-weight: bold;
    color: #18b4cf;
    font-size: 27px;
    text-align: center;
    text-transform: uppercase;
}

.flex-wrap_posts_popular {
    max-height: 870px;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
}

.flex-wrap_posts_popular li {
    margin: 15px;
    list-style: none;
}

.flex-wrap_posts_popular_text {
    height: 40px;
    margin-top: -5px;
    padding-top: 20px;
    text-align: center;
    font-weight: bold;
    color: #353A3d;
    background: #ffffff;
}

.flex-wrap_posts_popular a {
    text-decoration: none;
}

.grid-wrap {
    min-width: 1170px;
    display: grid;
    grid-gap: 60px;
}

.grid-wrap_header_banner {
    background: url("../img/image_parallax_grid.jpeg") top left/cover no-repeat fixed;
    height: 598px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.grid-wrap_header_banner_text h1 {
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    font-size: 32px;
    text-align: center;
}

.grid-wrap_header_banner_text h1::after {
    display: block;
    background: #18b4cf;
    margin: 45px auto 60px;
    content: " ";
    width: 60px;
    height: 3px;
}

.grid-wrap_header_banner_text_logo {
    display: grid;
    grid-template-columns: 207px 135px 232px 141px;
    gap: 50px;
    align-items: center;
}

.grid-wrap_content-1_gallery {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    list-style: none;
}

.grid-wrap_content-1_gallery img {
    width: 100%;
}

.grid-wrap_content-1_gallery img:hover {
    transform: scale(1.2);
}

.grid-wrap_content-2.collapse-section {
    display: none;
}

.grid-wrap_content-2_news-wrap {
    margin: 0 auto;
    width: 1170px;
}

.grid-wrap_content-2_news-wrap_hot {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 1fr 0.5fr;
    grid-gap: 35px;
    list-style: none;
}

.grid-wrap_content-2_news-wrap_hot a {
    background-color: #f9f7f7;
    text-decoration: none;
    height: -webkit-fill-available;
}

.post-wrap a {
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-color: #f9f7f7;
    text-decoration: none;
}

.post_link {
    display: block;
}

.post_link > img {
    width: 100%;
}

.text {
    text-align: right;
    color: #5b6469;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    align-self: center;
    padding-right: 25px;
    padding-bottom: 10px;
}

.text h3 {
    font-size: 18px;
    font-weight: bold;
    color: #353A3d;
    padding-top: 12px;
    padding-bottom: 9px;
}

.text-heading {
    text-align: center;
    padding-right: 0;
}

.post1 {
    grid-row: 1 / 2;
    grid-column: 1 / 4;
}

.post2 {
    grid-row: 1 / 2;
    grid-column: 4 / 5;
}

.post3 {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
}

.post4 {
    grid-row: 2 / 3;
    grid-column: 3 / 5;
}

.post5 {
    grid-row: 3 / 4;
    grid-column: 1 / 3;
}

.post6 {
    grid-row: 3 / 4;
    grid-column: 3 / 5;
}

.post7 {
    grid-row: 4 / 5;
    grid-column: 1 / 2;
}

.post8 {
    grid-row: 4 / 5;
    grid-column: 2 / 5;
}

.grid-wrap_footer {
    height: 80px;
    background: #000000;
    color: #ffffff;
    font-size: 13px;
    font-weight: normal;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-wrap_footer_text {
    justify-self: center;
    grid-column: 1 / 3;
    align-self: center;
}

.grid-wrap_footer_logo_smart {
    vertical-align: middle;
}

.grid-wrap_footer_logo {
    align-self: center;
    justify-self: center;
}

#scroll-btn {
    display: none;
    position: fixed;
    bottom: 25px;
    right: 25px;
    background-color: #161619;
    color: #fffff6;
    font-size: 24px;
    font-weight: 600;
    height: 40px;
    width: 40px;
    border-radius: 7px;
    cursor: pointer;
    outline: none;
}

.r {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.collapse-button {
    display: grid;
    justify-self: center;
    grid-column: 2 / 3;
    width: 250px;
    height: 50px;
    color: #fffff1;
    background: #313131;
    border-radius: 5px;
    font-size: 20px;
}


















