body {
    width: 100%;
    height: 100%;
    background: #000000;
    color: #ffbb00;
    padding-top: 150px;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
}

.section {
    position: relative;
    perspective: 200px;
}

.content h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 65px;
}

.content h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 70px;
}

.content {
    overflow: hidden;
    font-size: 60px;
    position: absolute;
    left: 4%;
    animation: starwars 30s infinite;
}

@keyframes starwars {
    from {
        top: 100%;
        transform: rotateX(55deg) translateY(100%);
    }

    to {
        top: -100%;
        transform: rotateX(55deg) translateY(-100%);
    }
}

