@font-face {
  font-family: "Arimo-Regular";
  src: url("../fonts/Arimo-Regular/Arimo-Regular.eot"); 
  src: url("../fonts/Arimo-Regular/Arimo-Regular.eot?#iefix") format("embedded-opentype"), 
    url("../fonts/Arimo-Regular/Arimo-Regular.otf") format("opentype"), 
    url("../fonts/Arimo-Regular/Arimo-Regular.svg") format("svg"),
    url("../fonts/Arimo-Regular/Arimo-Regular.ttf") format("truetype"), 
    url("../fonts/Arimo-Regular/Arimo-Regular.woff") format("woff"), 
    url("../fonts/Arimo-Regular/Arimo-Regular.woff2") format("woff2"); 
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Arimo-Bold";
  src: url("../fonts/Arimo-Bold/Arimo-Bold.eot"); 
  src: url("../fonts/Arimo-Bold/Arimo-Bold.eot?#iefix") format("embedded-opentype"), 
    url("../fonts/Arimo-Bold/Arimo-Bold.otf") format("opentype"), 
    url("../fonts/Arimo-Bold/Arimo-Bold.svg") format("svg"), 
    url("../fonts/Arimo-Bold/Arimo-Bold.ttf") format("truetype"), 
    url("../fonts/Arimo-Bold/Arimo-Bold.woff") format("woff"), 
    url("../fonts/Arimo-Bold/Arimo-Bold.woff2") format("woff2"); 
  font-weight: normal;
  font-style: normal;
}