@import "reset.css";
@import "fonts.css";

body {
    background: #e5e5e5;
}

.wrapper {
    position: absolute;
    left: calc(50% - 1192px / 2);
    top: calc(50% - 736px / 2);
    border-top: 22px solid #3a4965;
    border-right: 29px solid #3a4965;
    border-bottom: 32px solid #3a4965;
    border-left: 20px solid #3a4965;
}

.table {
    border-collapse: collapse;
    font-family: "Arimo-Bold";
    color: #484848;
    text-transform: uppercase;
    text-align: center;
    cursor: default;
}

.thead th {
    vertical-align: middle;
    background: #fafafa;
}
.cell-heading {
    width: 313px;
}

.thead_first-col-first-string {
    margin-bottom: 9px;
    font-size: 18px;
    font-weight: bold;
}

.thead_first-col-second-string {
    font-size: 30px;
}

.thead_type-pricing-plan {
    width: 280px;
    height: 72px;
    font-size: 24px;
    color: #ffffff;
}

.thead .thead_second-col {
    background: #89c331;
    border: none;
}

.thead .thead_third-col {
    background: #f04a56;
    border: none;
    font-size: 30px;
}

.thead .thead_fourth-col {
    background: #20807c;
}

.clearfix::after {
    display: block;
    content: "";
    clear: both;
}

.thead_col-price {
    float: left;
    padding-top: 36px;
    padding-left: 35px;
    font-size: 60px;
}

.thead_col-price-decimal-period {
    float: left;
    padding-top: 27px;
    text-align: left;
}

.thead_col-price-decimal {
    display: block;
    font-size: 24px;
}

.thead_col-price-period {
    padding-left: 3px;
    font-family: "Arimo-Regular";
    font-size: 18px;
}

.tbody tr:nth-child(odd) {
    background: #f2f2f2;
}

.tbody tr:nth-child(even) {
    background: #e3e3e3;
}

th:not(:last-child),
td:not(:last-child)
{
    border-right: 2px solid #cfcade;
}

.tbody td {
    height: 72px;
    font-family: "Arimo-Regular";
    vertical-align: middle;
    color: #484848;
}

.tbody i {
    margin-right: 12px;
    color: #848484;
    font-size: 24px;
}

.tfoot td {
    height: 112px;
    vertical-align: middle;
}

.tfoot td:nth-child(1) {
    background: #dddddd;
}

.tfoot td:nth-child(even) {
    background: #eeeeee;
}

.tfoot td:nth-child(3) {
    background: #f4f4f4;
}

.tfoot_button {
    position: relative;
    width: 195px;
    height: 52px;
    font-family: "Arimo-Bold";
    border: none;
    border-radius: 6px;
    text-transform: uppercase;
    color: #ffffff;
}

.tfoot_first-button {
    background: #484848;
}

.tfoot_second-button {
    background: #89c331;
}

.tfoot_third-button {
    background: #f04a56;
}

.tfoot_fourth-button {
    background: #20807c;
}
.tfoot_button::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 9px;
    width: 100%;
    border-radius: 6px;
}

.tfoot_first-button:after {
    background: #404040;
}

.tfoot_second-button:after {
    background: #79b027;
}

.tfoot_third-button:after {
    background: #df3a46;
}

.tfoot_fourth-button:after {
    background: #16736f;
}

.tfoot_first-button:hover {
    box-shadow: 0 0 10px 0 #484848 inset, 0 0 10px 2px #484848;
}

.tfoot_second-button:hover {
    box-shadow: 0 0 10px 0 #89c331 inset, 0 0 10px 2px #89c331;
}

.tfoot_third-button:hover {
    box-shadow: 0 0 10px 0 #f04a56 inset, 0 0 10px 2px #f04a56;
}

.tfoot_fourth-button:hover {
    box-shadow: 0 0 10px 0 #20807c inset, 0 0 10px 2px #20807c;
}