.wrapper {

    background: url("../img/Image_background.png");
    background-size: cover;
    height: 100vh;
    overflow: auto;
}

.container {
    margin: 0 auto;
    width: 1059px;
    font-family: 'Roboto', sans-serif;
}

.header {
    margin-top: 49px;
}

.header-logo {
    float: left;
    width: 154px;
    height: 46px;
}

.img-logo {
    text-decoration: none;
    background: url("../img/logo.png") no-repeat;
    float: left;
    vertical-align: baseline;
    line-height: 1;
}

.img-logo:hover {
    background: url("../img/logo1.png") no-repeat;
}

.first-row-logo {
    padding-left: 61px;
    font-size: 29px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
}

.second-row-logo {
    padding-left: 61px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
}

.header-logo:hover span {
    color: #f26522;
}

.header-contacts {
    float: right;
    padding-bottom: 27px;
    font-size: 18px;
}

.header-contacts::after{
     clear: both;
 }

.header-contacts a {
    text-align: right;
    text-decoration: none;
    color: #ffffff;
}

.email {
    padding-bottom: 17px;
}

.tel {
    float: right;
}

.tel::after{
    clear: both;
}

.header-contacts a:hover {
    color: #f26522;
}
.header:after {
    clear: both;
    content: "";
    display: block;
}

.card {
    display: block;
    float: left;
    padding-bottom: 58px;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
}

.main-row1 > .card:nth-child(even) {
    padding-left: 65px;
    padding-right: 64px;
}

.main-row2 > .card:nth-child(even) {
    padding-left: 65px;
    padding-right: 64px;
}

.main-row1:after {
    clear: both;
    content: "";
    display: block;
}

.main-row2:after {
    clear: both;
    content: "";
    display: block;
}
.text-wrap {
    padding-top: 18px;
    line-height: 14px;
    color: #ffffff;
}

.card:hover .text-wrap span {
    color: #f26522;
}

.img-wrap {
    position: relative;
    width: 308px;
    height: 200px;
    border-left: 2px solid #ffffff;
    border-top: 2px solid #ffffff;
}

.img {
    box-shadow: 0 17px 24px #000000;
}

.caption {
    position: absolute;
    left: -2px;
    bottom: -2px;
    background: #f26522;
    width: 310px;
    height: 0;
}

.card:hover .caption {
    height: 63px;
    transition: all 1ms ease;
}

.details-text-price{
    float: left;
    color: #ffffff;
    padding-left: 16px;
    padding-top: 7px;
}

.details-text-price:after {
    clear: both;
}

.details-text {
    font-size: 10px;
    padding-bottom: 6px;
}

.details-price {
    font-size: 20px;
}

.details span{
    float: right;
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    padding: 29px 0 0 0;
}

.details span:after {
    clear: both;
}

.details span:after {
    content: "\203A";
    color: #fffff1;
    font-size: 22px;
    padding-left: 24px;
    padding-right: 10px;
}

.details {
    display: none;
}

.card:hover .details {
    display: block;
}

.footer p {
    padding-bottom: 15px;
    text-align: center;
    font-size: 12px;
    color: #ffffff;
}

